@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
}


/*#region: navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px 10%;
    background: rgb(35, 74, 94);
}

.navbar img {
    max-width: 100%;
    height: auto;
}

.navItem a,
.contactUs {
    text-decoration: none;
    padding: 0 15px;
    font-weight: 600;
    color: #fff;
    transition: color 0.2s;
}

.navItem a:hover,
.contactUs:hover {
    color: crimson;
}

.toggler {
    display: none;
}

.fas {
    color: #fff;
}

#toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgb(35, 74, 94);
    height: 100vh;
}

#toggle a {
    text-decoration: none;
    padding: 15px 1rem;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    transition: margin-right 0.2s;
    border-bottom: 2px solid #fff;
}

#toggle a:hover {
    margin-right: 2rem;
}

@media (max-width: 1100px) {
    .navItem,
    .contactUs {
        display: none;
    }
    .toggler {
        display: flex;
        text-decoration: none;
        color: #000;
    }
}


/*#endregion*/


/*#region: todays games*/

.todaysGamesContainer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 7px rgb(196, 196, 196);
}

.todaysGamesInfo {
    padding: 1rem 5px;
    margin: 2px 0;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.todaysGamesInfo h3 {
    font-size: 1.2rem;
}

.todaysGames {
    max-width: 70%;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
}

.todaysGames::-webkit-scrollbar {
    display: none;
}

.gameItem {
    padding: 1rem 8px;
    margin: 2px 0;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
    background-color: #fff;
    display: inline-block;
}


/*#endregion*/


/*#region: firstpage*/

.firstPage {
    max-width: 100%;
    max-height: 80%;
    margin-top: 5rem;
    background: rgb(141, 132, 132);
}

.slideshow-container {
    max-width: 70%;
    max-height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 700px) {
    .firstPage {
        height: 400px;
    }
    .slideshow-container {
        height: 100%;
        width: 100%;
    }
}


/*#endregion*/


/*#region: aboutUs*/

.aboutUsTitle {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5rem;
}

.aboutUsDescription {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(35, 74, 94);
    color: #fff;
    margin-top: 4rem;
    padding: 5rem 20%;
}

.aboutUsItemsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 5rem;
}

.aboutUsItem {
    width: 300px;
    height: 320px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.aboutUsItem h3,
p,
.fas {
    padding: 1rem;
}

.fas {
    color: #000;
    font-size: 5rem;
}


/*#endregion*/


/*#region:players*/

.playersTable {
    margin-top: 4rem;
    overflow-x: auto;
}

.playersTable table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

.playersTable th {
    background: rgb(35, 74, 94);
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem 3rem;
}

.playersTable td {
    padding: 0.5rem 3rem;
    text-align: center;
}


/*#endregion*/


/*#region:teams*/

.teamDiv {
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teamInfo {
    width: 400px;
    height: 200px;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 5px;
}

.teamInfo p {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    font-size: 2.3rem;
    font-weight: 800;
    color: #000;
}

.teamInfo:hover {
    cursor: pointer;
}

@media (max-width: 402px) {
    .teamInfo {
        margin-left: 5px;
        margin-right: 5px;
    }
    .teamInfo p {
        font-size: 1.7rem;
    }
}


/*#endregion*/